.expand-btn {
  position: relative;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: .2s transform linear;
  transform: rotate(-90deg);

  &.expand {
    transform: rotate(0);
  }
}

.sub-menu-wrapper {
  overflow: hidden;
  padding-left: 1rem;
  transition: .2s all linear;
  // &.close {
  //   height: 0 !important;
  // }
}