.expand-btn::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m20.836 15.914 1.078-1.078L12.54 5.46 12 4.945l-.54.516-9.374 9.375 1.078 1.078L12 7.078l8.836 8.836Z' fill='%23FFFCE1'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}