#article-rendered {
  h1 {
    @apply my-4 text-3xl
  }
  h2 {
    @apply my-3 text-2xl
  }
  h3 {
    @apply my-2 text-xl
  }
  p {
    margin: 1rem 0 2rem;
    line-height: 28px;
  }
  li {
    line-height: 28px;
  }
  code {
    border-radius: 4px;
    padding: 3px 6px;
    background-color: rgba(142, 150, 170, .14);
    color: #000;
  }
  blockquote {
    color: #666;
    border-left: 4px solid #ddd;
    padding: 0.75em 1em;
    margin: 1rem 0;
    p  {
      margin: 0;
    }
  }
}